.headline
    h2 2019 Grant Winners
p Thank you for your interest in the Smokin’ With Smithfield Grant Program. At this time our applications are closed for 2019 Grants. Be sure to check back next fall for the 2020 Applications.
ul.Grantwinners
    li 01/18/2019	Slab-O-Rama Barbeque Challenge,	Bullhead City,	AZ
    li 01/25/2019	Lakeland Pig Festival,	Lakeland,	FL
    li 03/02/2019	Sip and Swine	Lawrenceville	GA
    li 03/22/2019	Hammond BBQ, Inc, Hammond, LA
    li 03/30/2019	Suncoast BBQ &amp; Bluegrass Bash,	Venice,	FL
    li 04/05/2019	SpringFest BBQ Cookoff, Beeville, TX
    li 04/12/2019	Smoke in the Spring, Osage City,	KS
    li 04/20/2019	High on the Hog Festival, Winchester,	TN
    li 04/26/2019	WashMO BBQ, Bikes, &amp; Blues, Washington,	MO
    li 04/26/2019	14th Annual HANOR Smokin' Red Dirt BBQ,	Enid,	OK
    li 04/27/2019	Bishop Widlhorse Desert Roundup, Kingsville,	TX
    li 05/04/2019	BBQ Jamboree Double, Fredericksburg, VA
    li 05/03/2019	Jiggy with the Piggy, Kannapolis, NC
    li 05/03/2019	MASTERS IN MAY,	Bancroft, WI
    li 05/24/2019	Westmont Red White &amp; BBQ,	Westmont,	IL
    li 05/31/2019	Big Blue BBQ Championships,	Marysville,	KS
    li 05/31/2019	Smokin in Steele,	Owatonna,	MN
    li 05/31/2019	8th Annual Valley Veterans BBQ Competition,	Valley,	NE
    li 06/01/2019	Original SD BBQ Championships,	Huron,	SD
    li 06/21/2019	Covington Cork and Pork Festival,	Covington,	VA
    li 06/22/2019	Heritage Day’s BBQ Showdown,	Belvidere,	IL
    li 07/13/2019	Gold Ribbin BBQ Fest,	Green Bay,	WI
    li 07/27/2019	Gilroy Garli-que BBQ Challenge,	Gilroy,	CA
    li 08/16/2019	Hudson Valley RibFest,	New Paltz,	NY
    li 08/24/2019	8th Annual Deaths Door BBQ,	Washington Island,	WI
    li 09/14/2019	Table Rock Boats &amp; Bones,	Kimberling City,	MO
    li 09/20/2019	Tilley Harley-Davidson Biker Blues &amp; BBQ Rally,	Salisbury,	NC
    li 09/21/2019	Riverfest 2019,	Decatur,	AL
    li 09/21/2019	Tri City BBQ Fest,	Denison,	IA
    li 09/27/2019	2019 Wildwood BBQ Bash,	Wildwood,	MO
    li 10/12/2019	MS Delta State Barbecue Championship/Cleveland Octoberfest,	Cleveland,	MS
    li 11/30/2019	Jonesboro Downtown BBQ and Music Festival,	Jonesboro,	AR
    li 12/13/2019	Briscoe Ranch BBQ Cook-off,	Uvalde,	TX 