img(src="/images/thankyou-header.png", alt="Thanks!")
h2 Thank you for your application!
p We will contact you shortly if you’re selected to be a judge. Until then, check out our other great resources like our Committed Cooks Program and our Grant Program on Smokin’ with Smithfield!
a.button.primary(href="/") Return Home