-var formClass = cssClass || ""
if ajax == true
    - formClass = cssClass + " ajax"
.forgotpassword
    form(action="/user/newpassword", method="post", class="validate "+formClass)
        input(type="hidden", name="__nexturl", value=nextUrl)
        input(type="hidden", name="code", value=code)
        +textbox("Confirm Email", "confirm_email", "email fullwidth req","", "Email Address")
        +password("New Password", "newpass", "newpass fullwidth req","", " ")
        +password("Confirm Password", "confirmNewPassword", "confirmNewPassword fullwidth req","", " ")
        .controls
            input.button.primary(type="submit", value="Reset")