ul
  li
    strong Sufficient Event Advertising 
    |- Ensuring the event is well promoted to BBQ enthusiasts and within the community to drive attendance to the event. In addition to traditional event marketing (radio/tv, posters, mailings, e-blasts, newspapers, etc.), leverage social media platforms such as Facebook and Twitter to promote the event. 
  li
    strong BBQ Teams Have What They Need 
    |- Guaranteeing the basic services such as trash, water, ice, power, port-a-potty servicing and security are available. 
  li
    strong Well Organized 
    |- A well-organized competition tends to be a successful event. Planning ahead for tasks such as communication with the sponsors/vendors, meat distribution to the teams and having contingencies in place for emergencies, make for a much smoother event.
  li
    strong Family Friendly 
    |- Hosting a family-friendly event that includes the whole family helps invest in the future of BBQ. Offering BBQ teams and the community the opportunity to participate in contests such as the Kid’s Que or Dessert competition enables the whole family to get involved and helps increase event attendance.  
  li
    strong Judging 
    |- Ensuring the proper number of judges (based on the sanctioning rules) are available to judge the competition.
  li
    strong Positive Feedback 
    |- The best way to help measure success of a BBQ competition is through event feedback. Pitmasters are more likely to attend an event if their fellow Pitmasters are sharing positive feedback about their overall experience.