h3.standings-title PRESENTING SPONSOR
div.sponsors
    a.sponsor.presenting-sponsor(href="https://www.bigpoppasmokers.com/", target="_blank")
            img.sponsor(src="/images/logos/big-poppa-smokers.png", alt="")

hr.sponsor-separator

h3.standings-title SPONSORS
div.sponsors
    a.sponsor(href="https://www.yeti.com/", target="_blank")
        img.sponsor(src="/images/logos/yeti.png", alt="")
    a.sponsor(href="https://www.kingsford.com/", target="_blank")
        img.sponsor(src="/images/logos/kingsford.png", alt="")
    a.sponsor(href="https://www.facebook.com/TheButcherShoppeEastPensacola/", target="_blank")
        img.sponsor(src="/images/logos/butchers-shoppe.png", alt="")
    a.sponsor(href="https://abita.com/", target="_blank")
        img.sponsor(src="/images/logos/abita.png", alt="")