h1 SMOKIN' WITH SMITHFIELD NATIONAL BARBECUE  CHAMPIONSHIP POINTS CHASE
h2 REGISTRATION TERMS AND CONDITIONS
ol
  li
    strong Eligibility: 
    | The Smithfield "Smokin' with Smithfield National Barbecue  Championship Points Chase" Competition (the "Competition") is open to legal residents  of the fifty (50) United States and the District of Columbia and whose Primary  Pit Master (head cook as designated at the time of registration) is at least  eighteen (18) years old and all other team members are at least sixteen (16)  years old at the time of registration. The Competition is subject to all  applicable federal, state, and local laws and regulations and is void where  prohibited. Employees, officers and directors of BBQData.com and members of  their immediate families (spouses and parents, children and siblings and their  spouses), and/or those living in the same household of such individual, are not  eligible to participate.  Participation  constitutes each team member's full and unconditional agreement to these Terms  and Conditions and Sponsor's decisions, which are final and binding in all  matters related to the Competition. 
    strong
  li
    strong Sponsor: 
    | Smithfield Foods Inc., 200 Commerce Street,  Smithfield, VA 23430.
  li
    strong Timing: 
    | The following table outlines the key dates of the  Competition:
    strong
table(border='1', cellspacing='0', cellpadding='0')
  tbody
    tr
      td(width='150', valign='top')
        p
          strong Registration Period
      td(width='252', valign='top')
        p September    13, 2018 – July 1, 2019
      td(width='222', valign='top')
        p
          | Teams    must register during the Registration Period in order for their scores to    count towards eligibility for the Smokin' With Smithfield National Barbecue Championship    Playoffs.
    tr
      td(width='150', valign='top')
        p
          strong Competition Scoring Period
      td(width='252', valign='top')
        p September    1, 2018 – August 1, 2019
      td(width='222', valign='top')
        p
          | During    this time, team scores in sanctioned competitions will be reported to    BBQData.com and tracked on the Competition Website (defined below).
    tr
      td(width='150', valign='top')
        p
          strong Deadline to Register
      td(width='252', valign='top')
        p 11:59    p.m. ET on July 1, 2019 
      td(width='222', valign='top')
        p
          | Deadline    for teams to register for their scores to count towards eligibility for the    Smokin' With Smithfield National Barbecue Championship Playoffs.
    tr
      td(width='150', valign='top')
        p
          strong Scoring Lock-In Date
      td(width='252', valign='top')
        p
          | Within    10 days after specific competition
          strong  
      td(width='222', valign='top')
        p
          | Period    of time the Sponsor will verify and, if necessary, update team scores as    reported during the Competition Scoring Period based on data received from    the Sanctioning Bodies.
    tr
      td(width='150', valign='top')
        p
          strong Playoff Team Announcement
      td(width='252', valign='top')
        p
          | On    or about
          em  September 15, 2019
          strong  
      td(width='222', valign='top')
        p
          | Date    when the Sponsor will announce the 24 registered teams who are eligible to    compete in the Smokin' With Smithfield National Barbecue Championship    Playoffs.
ol
  li
    strong How to Play:
    |   During the  Registration Period, one (1) team member from each team competing in a barbecue  competition conducted by one of the participating Sanctioning Bodies (defined  below) must complete the registration form on www.smokinwithsmithfield.com  (such member will be the "Primary Pit Master").   The participating Sanctioning Bodies include only Kansas City Barbecue  Society, International Barbecue Cookers Association and Florida BBQ Association,  Barbecue Competitors Alliance, Pacific Northwest Barbecue Association, and St.  Louis Barbecue Society (collectively, the "Sanctioning Bodies"). The Primary  Pit Master must obtain consent and agreement to these Terms and Conditions from  all of his/her team members prior to registration in the Competition.  If any team member is under the age of  eighteen (18) or the age of majority in his/her state of residence, the Primary  Pit Master must receive express consent from such member's parent or legal  guardian and agrees to provide written documentation of such consent to Sponsor  at Sponsor's request.  The Primary Pit  Master must complete the registration form within the Registration Period in  order for his/her team to be eligible to compete in the Smokin' with Smithfield  National Barbecue Championship Playoffs ("Playoffs") to be held in 2019.  
    strong
      | Teams may only register once in this  Competition – any duplicate registrations will be voided.  Team members may only compete in one  registered team during the Competition Scoring Period.
    strong
      | The Primary Pit Master hereby agrees to  update the team registration information in the event any team members change  during the course of the Competition Scoring Period, it being understood that  the Primary Pit Master cannot be changed or replaced.
    |  Any changes to  contact information of the team members, including the Primary Pit Master, must  be communicated in writing to Sponsor as soon as possible, but no later than June  15, 2019.  Changes must be made by email  or in writing and sent to 
    a(href='mailto:bbq@smithfield.com') bbq@smithfield.com
    |  with the following information: name of team  registered for Competition, name of team member being added/removed and  effective date of change, and the name of your Primary Pit Master.  Limit of five (5) team member changes during  the time period leading up June 15, 2019.
    strong
  li
    strong Scoring:
    |   During the  Competition Scoring Period, Sponsor will collect data from BBQData.com in  connection with participating Barbecue competitions held during such period by  the Sanctioning Bodies.  BBQData.com will  work in cooperation with the Sanctioning Bodies to identify and allocate points  for each team participating in sanctioned Barbecue competitions based on  BBQData.com's scoring algorithm, designed to ensure fairness given the  variables of each Barbecue competition (described in more detail below).  
    strong
p
  | The teams who rank in the  top 10 Overall at each Barbecue competition held by a Sanctioning Body will  earn the following points initial points by place in the BBQData.com database:
  strong
  br
  strong 1st = 2000 points
  br
  strong 2nd = 1500 points
  br
  strong 3rd = 1000 points
  br
  strong 4th = 750 points
  br
  strong 5th = 525 Points
  br
  strong 6th = 375 points
  br
  strong 7th = 275 points
  br
  strong 8th = 200 points
  br
  strong 9th = 150 points
  br
  strong 10th = 100 points
p
  | Then, these top 10 teams  will also be allocated additional points in the BBQData.com database based on  the Barbecue competition's size.   BBQData.com will add points to their score based on an algorithm that  factors in the number of participating teams and size of the overall Barbecue competition.
  br
  |       BBQData.com will update its  scoreboard regularly to show each team's ranking based on the scoring described  above.  Sponsor will also display a  scoreboard based on BBQData.com's reporting on its www.smokinwithsmithfield.com  webpage. 
  strong
    | Registration in the Competitions is 
    u not
    |  required for  BBQData.com or Sponsor to post a team's score.
  br
  |       At the end of the  Competition Scoring Period (and subsequent Scoring Lock-In Date, if necessary  and as determined by Sponsor in its discretion), Sponsor will identify the  twenty-four (24) teams that (i) successfully registered for the Competition  during the Registration Period, and (ii) accumulated the highest scores during  the Competition Scoring Period (subject to any set-offs by the Scoring Lock-In  Date) (collectively, the potential "Competition Finalists").  
  strong
    | Only the top twelve (12) scores received  by a registered team during the Competition Scoring Period will count towards  that team's overall score in the Competition.
  | The potential Competition Finalists must  review and agree to the terms of participation for the Smokin' with Smithfield  National Barbecue Championship prior to being named as a Competition  Finalist.  Once confirmed by Sponsor, the  Competition Finalists will receive the title of a "Smokin' with Smithfield  National Barbecue Championship Points Chase Winner" and will be invited to  participate in the Smithfield "Smokin' with Smithfield National Barbecue Championship  Playoffs" in New Orleans, LA in November 2019 (more information regarding the  Playoffs will be communicated to the potential Competition Finalists upon  notice).  In the event any of the potential  Competition Finalists do not wish to participate, are unable to participate in  the Playoffs, fail to comply with these Registration Terms and Conditions or  fail to return requested Playoff documentation by the deadlines set by the  Sponsor, then such potential Competition Finalist may be disqualified and the  eligible team(s) with the next highest scores from the Competition Scoring  Period will be invited until there are a total of twenty four (24) teams  competing in the Playoffs.
ol
  li
    strong Release/Publicity: 
    | By registering for the Competition, you agree  to release and hold harmless Sponsor, the Sanctioning Bodies, BBQData.com, and  their respective subsidiaries, affiliates, suppliers, distributors,  advertising/promotion agencies, and prize suppliers, and each of their  respective parent companies and each such company's officers, directors,  employees and agents (collectively, the "Released Parties") from and against  any claim or cause of action, including, but not limited to, personal injury,  death, or damage to or loss of property, arising out of participation in the Competition  and for claims based on publicity rights and intellectual property rights,  defamation or invasion of privacy.  Except  where prohibited, participation in the Competition constitutes each team  member's consent to Sponsor's and its agents' use of the team's name, team  member names, and team imagery submitted to the Sanctioning Body, and/or  hometown and state of the team and its members for purposes of conducting the  Competition and for promotional purposes in any media, worldwide, without  further payment or consideration.  In the  event that any team or team member engages in any unsportsmanlike, offensive,  or otherwise inappropriate conduct during the Competition, Sponsor reserves the  right in its sole discretion to disqualify the team member or the entire  team.  Sponsor and the Sanctioning Bodies  are not responsible for any disputes, disagreements, miscommunications or other  acts or omissions among team members in connection with the Competition.  Sponsor's decisions in connection with the  Competition are final and binding.
  li
    strong Limitations of Liability:
    |  The Released Parties are not  responsible for: (1) any incorrect or inaccurate information, whether caused by  registered team members, printing errors or by any of the equipment or  programming associated with or utilized in the Competition; (2) technical  failures of any kind, including, but not limited to malfunctions,  interruptions, or disconnections in phone lines or network hardware or software  (including, without limitation, technical failures of BBQData.com and its  scoring algorithm); (3) unauthorized human intervention in any part of the  entry process or the Competition; (4) technical or human error which may occur  in the administration of the Competition, processing of entries, or tracking of  scores; (5) late, lost, undeliverable, damaged or stolen communications; or (6)  any injury or damage to persons or property which may be caused, directly or  indirectly, in whole or in part, from entrant's participation in the Competition.
    strong
  li
    strong General Conditions: 
    | Sponsor reserves the right to cancel, suspend and/or modify the Competition,  or any part of it, if any technical failures, computer glitches, fraud, human  error or any other factor impairs the integrity or proper functioning of the Competition,  as determined by Sponsor in its sole discretion. Sponsor reserves the right, in  its sole discretion, to disqualify any individual it finds to be tampering with  the entry/registration process, score collection or the operation of the Competition  or to be acting in violation of these Terms and Conditions of this or any other  promotion or in an unsportsmanlike or disruptive manner.  Any attempt by any person to deliberately  undermine the legitimate operation of the Competition may be a violation of  criminal and civil law, and, should such an attempt be made, Sponsor reserves  the right to seek damages from any such person to the fullest extent permitted  by law. Sponsor's failure to enforce any term of these Terms and Conditions shall  not constitute a waiver of that provision. 
    strong
      | Sponsor  reserves the right to amend or modify these Terms and Conditions at any time.
  li
    strong Disputes:
    |  Except where  prohibited, entrant agrees that: (1) any and all disputes, claims and causes of  action arising out of or connected with this Competition shall be resolved  individually, without resort to any form of class action, and exclusively by  the State or Federal courts located in Virginia; (2) any and all claims,  judgments and awards shall be limited to actual out-of-pocket costs incurred,  including costs associated with entering this Competition, but in no event  attorneys' fees; and (3) under no circumstances will entrant be permitted to  obtain awards for, and entrant hereby waives all rights to claim, indirect,  punitive, incidental and consequential damages and any other damages, other  than for actual out-of-pocket expenses, and any and all rights to have damages  multiplied or otherwise increased. All issues and questions concerning the  construction, validity, interpretation and enforceability of these Terms and  Conditions, or the rights and obligations of the entrant and Sponsor in  connection with the Competition, shall be governed by, and construed in  accordance with, the laws of Virginia.
ol
  li
    strong Entrant's Personal Information:
    |  Information  collected from entrants is subject to Sponsor's Privacy Policy <a href="http://www.smithfield.com/privacy-policy/" target="_blank">http://www.smithfield.com/privacy-policy/</a>  and BBQ Data's Privacy Policy <a href="https://bbqdata.com/privacy_policy" target="_blank">https://bbqdata.com/privacy_policy</a>.
