/*-- colors for the project--*/
$color-primary: #999;
$color-secondary: rgba(12, 97, 93, 0.397);
$color-highlight: #0000FF;
$color-pop: #5077f9;
$color-popAlt: #7b0581;
$color-success:green;
$color-danger: red;