footer{background-color:$color_primary;padding: 24px 48px 20px;text-align: center}
footer nav{padding:0}
footer nav ul {font-size: 0}
footer nav ul li{display: inline-block;font-size: 12px;color:#fff;position: relative;padding:0 6px;border-right: 1px solid #fff}
footer nav ul li:first-child{margin-left:0}
footer nav ul li:last-child{margin-right: 0;border:0}
footer nav ul li a{display: block;font-size: 12px;color:#fff;padding:2px;border-bottom:1px solid $color_primary;transition: .5s all}
footer nav ul li a:hover{border-bottom:1px dotted #fff}